<%- include('./layout/header.ejs') %>
<div class="main">
    <div class="container">
      <div class="content">
        <% for (var i = 0; i < posts.length; i++) { %>
          <div class="post">
            <div class="top">
              <h2><%=posts[i].title %></h2>
            </div>
            <div class="body">
              <p><%=posts[i].body %></p>
            </div>
            <div class="bottom">
              <div class="author">
                Автор:
                <a href="/">Гедеван</a>
              </div>
              <a href="/">Комментарии</a>
            </div>
          </div>
        <% } %>

        <div class="pagination">
          <% if (current > 2) { %>
            <a href="/archive/<%= Number(current) -1 %>" class="new">New Posts</a>
          <% } %>

          <% if (current == 2) { %>
            <a href="/" class="new">Main page</a>
          <% } %>

          <% if (current > 0 && current < pages) { %>
            <a href="/archive/<%= Number(current) +1 %>" class="old">Old Posts</a>
          <% } %>
          
        </div>
      </div>
      <%- include('./layout/sidebar.ejs') %>
    </div>
  </div><%- include('./layout/footer.ejs') %>
  